Microsoft.Flow/flows/3235d25b-6d18-4e3e-9d4f-ad3b28abaa62/definition.json
{"name":"1a275240-a75f-415f-9cf5-8d1a398fbfa4","id":"/providers/Microsoft.Flow/flows/1a275240-a75f-415f-9cf5-8d1a398fbfa4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"PowerApps-InOutParam","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"26617029-88e3-483c-8189-94e28448758b","type":"User","tenantId":"44e3cf94-19c9-4e32-96c3-14f5bf01391a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-03-07T20:42:14.7374Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"ede114e2-4e80-4238-bed1-69a5931a5953"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"vEmail_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["vEmail_Value"]}}}},"actions":{"vEmail":{"runAfter":{},"metadata":{"operationMetadataId":"ec8f4e57-a58b-4949-9d09-2d5874683627"},"type":"InitializeVariable","inputs":{"variables":[{"name":"vEmail","type":"string","value":"@{triggerBody()['vEmail_Value']}"}]}},"vPhone":{"runAfter":{"vEmail":["Succeeded"]},"metadata":{"operationMetadataId":"00448bf5-fda6-4d3b-97f2-66a96eaabab7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"vPhone","type":"string","value":"@variables('vEmail')"}]}},"vOutput":{"runAfter":{"vPhone":["Succeeded"]},"metadata":{"operationMetadataId":"52a00c8c-55f1-4f20-8b31-93a333c060ed"},"type":"InitializeVariable","inputs":{"variables":[{"name":"vOutput","type":"string","value":"@{concat(variables('vEmail'),variables('vPhone'))}"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"vOutput":["Succeeded"]},"metadata":{"operationMetadataId":"9972e027-ad6a-412f-b126-197c526c460d"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"vtextop":"@variables('vOutput')","vsuccess":"@{true}","vemail":"@variables('vEmail')","vnum":"28","vdate":"@{utcNow()}"},"schema":{"type":"object","properties":{"vtextop":{"title":"vTextOP","x-ms-dynamically-added":true,"type":"string"},"vsuccess":{"title":"vSuccess","x-ms-dynamically-added":true,"type":"boolean"},"vemail":{"title":"vEmail","x-ms-dynamically-added":true,"type":"string","format":"byte"},"vnum":{"title":"vNum","x-ms-dynamically-added":true,"type":"number"},"vdate":{"title":"vDate","x-ms-dynamically-added":true,"type":"string","format":"date"}}}}}}},"connectionReferences":{},"flowFailureAlertSubscribed":false}}